<div class="container">
  <div class="task">
    <div class="task_detail">
      <h2>
        <%= @task.title %>
      </h2>
      <%= link_to 'Task一覧へ', board_tasks_path %>
      <div class="task_detail_action">
        <% if user_signed_in? && current_user.tasks.exists?(id: @task.id) %>
          <div class="board_detail_actions">
            <div class="dropdown">
              <%= image_tag 'actions.svg', class: 'dropbtn' %>
                <div class="dropdown-content mini">
                  <%= link_to '編集', edit_board_task_path(id: @task.id) %>
                  <%= link_to '削除', board_task_path(id: @task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if @task.eyecatch.attached? %>
      <div class="task_eyecatch">
        <%= image_tag @task.eyecatch %>
      </div>
      <% end %>
      <div class="task_description">
        <%= @task.description %>
      </div>
    </div>
  </div>
  <div class="comment">
    <h2 class="comment_title">Comment</h2>
    <div class="comment_index">
      <% @comments.each do |comment| %>
      <div class="comment_detail">
        <%= image_tag 'default-avatar.png' %>
        <p><%= comment.content %></p>
        </div>
      <% end %>
  </div>
  <%= link_to 'Add new comment', new_board_task_comment_path(@task.board_id, @task), class: 'btn-comment' %>
</div>