<div class="container">
  <h2>All Boards</h2>
    <% @boards.each do |board| %>
    <div class="board">
        <div class="board_title">
            <%= board.title %>
        </div>
        <div class="board_description">
            <%= board.description %>
        </div>
        <div class="board_content">
            <div class="board_detail">
            <%= image_tag 'default-avatar.png' %>
            </div>
            <div class="board_detail_actions">
            <div class="dropdown">
                <%= image_tag 'actions.svg', class: 'dropbtn' %>
                <div class="dropdown-content mini">
                <%= link_to '編集', edit_board_path(board) %>
                <%= link_to '削除', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                </div>
            </div>
            </div>
        </div> 
        </div>
    <% end %>
    <%= link_to 'Add new board', new_board_path, class: 'btn-secondary' %>
</div>